#container-homefeirantes {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    width: 90%;
    height: 50%;
}

@media screen and (max-width: 600px) {
    #container-homefeirantes {
        padding: 10px;
        width: 90%;
    }
}